body{
    background: black;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

div{
    box-sizing: border-box;
}

header{
    background: white;
    padding: 10px;
}

header h1{
    margin: 0;
    text-align: center;
    font-size: 3em;
}

div.post{
    background: white;
    margin-top: 10px;
}

div.post img{
    width: 100%;
}

div.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
}

div.post .post-header div:last-child {
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
}

div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}

div.container{
    width: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    margin: 10px;
    align-content: left;
}


div.post .span {
    /*padding: 10px;*/
    text-align: right;
}

